@charset "utf-8";

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


body {
    max-width: 960px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

header{
    text-align: left;
    margin-top: 30px;

}

.logo{
    float:left;
    width: 150px;
}

header p{
    float: right;
    z-index: -100;
    width: 810px;
}