@charset "utf-8";

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


body {
    max-width: 960px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}